body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,93,196,1) 35%, rgba(0,212,255,1) 100%);
}
.todo-app { 
    background-color: white;
    width: 300px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.input-container {
    display: flex;
    height: 26px;
}
input {
    width: 100%;
    padding-left: 5px;
}
.add-button {
    margin-left: 8px;
    background-color: blueviolet;
    color: white;
    border: none;
    width: 30px;
font-size: 18px;
}
.list {
    padding-left: 5px;
    
}
.list-item {
    background-color: whitesmoke;
    padding: 4px;
}